* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(34, 32, 32, 0.646);
    display: flex;
    height: 10vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.left-navbar a {
    color: #fff;
    text-decoration: none;

}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.nav-links li a {
    color: rgba(255, 255, 255, 0.762);
    text-decoration: none;
    font-size: 16px;
}

.left-navbar {
    border-right: 2px solid #dee2e629;
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: 0.5rem;
}

.right-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 1rem;
}


.fstspan {
    color: rgba(3, 241, 3, 0.789);
    font-size: 14px;
    font-weight: 500;
}

.scndspan {
    font-size: 12px;
    color: #757272;
    font-weight: 500;
}

.logout-btn {
    color: white;
    padding: 5px;
    padding-top: 0px;
    width: 75px;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    height: 30px;
    border: none;
}


.links-container a.active {
    color: #ff5722;
}