.dashboard {
  display: flex;
  gap: 4px;
  margin: 3px 2.5rem;
  height: 89vh;
  /* width: 100%; */
  margin-bottom: 0px;
}

.dashboard-header {
  height: 88vh;
}

.Lefttable {
  background-color: rgba(34, 32, 32, 0.628);
  /* background-color:  rgba(18, 18, 18, 0.82); */
  padding: 10px;
}

.header-container {
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #3d3d3d;
  padding: 1rem 0px;
}

.right-container {

  background-color: rgba(34, 32, 32, 0.646);
  width: 100%;
  padding: 1rem;
}

.section-1 {
  /* display: flex; */
  color: white;
  padding: 1rem;
  padding-left: 0;
}

.row-1 {
  display: flex;
  gap: 42%;
}

.row-2 {
  padding: 2rem 0px;
  display: flex;
  gap: 10%;
  border-bottom: 0.5px solid #3d3d3d;
}

.coln-1 p,
.coln-2 p,
.coln-3 p,
.coln-4 p {
  color: rgb(162, 160, 160);
  font-size: 12px;
}

.coln-2 span,
.coln-4 span {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.coln-1 .value1,
.coln-3 .value2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.coln-2,
.coln-4 {
  margin-top: 15px;
}

.coln-2,
.coln-4 {
  border-left: 1px solid #3d3d3d;
  padding-left: 2rem;
}

.section-2 {
  color: white;
  border-bottom: 0.5px solid #3d3d3d;
  padding-bottom: 1rem;
 
  
}

.container-1 {
  display: flex;
  gap: 25%;
  padding: 1rem 0px;
}

.pl,
.curr,
.invest {
  color: rgb(162, 160, 160);
  font-size: 12px;
}

.value-container1 {
  font-size: 30px;
}

.curr span,
.invest span {
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;
}

.value-container2 {
  /* margin-top: 8px; */
  border-left: 1px solid #3d3d3d;
  padding-left: 5%;
}

.boxes {
  display: flex;
  width: 100%;
  height: 10vh;
 margin-top: 20px;
}

.box1,
.box2,
.box3 {
  width: 80px;
  height: 40px;
}

.box1 {
  background-color: rgb(87, 87, 236)
}

.box2 {
  background-color: lightgreen;
}

.box3 {
  background-color:rgba(216, 20, 255, 0.671)
}

.box4,
.box5 {
  width: 30px;
  height: 40px;
}

.box4 {
  background-color:rgb(92, 133, 205);
}

.box5 {
  background-color:rgb(225, 94, 144);
}

.boxes-col-1 {
  display: flex;
  width: fit-content;
  height: 10vh;
}

.boxes-col-2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* height: 10vh; */
}

.boxes-row1 {
  display: flex;
  height: auto;
  width: 100%;
}

.boxes-row2 {
  display: flex;
}

.box6,
.box7,
.box16,
.box17 {
  width: 65px;
  height: 20px;

}

.box8,
.box9,
.box10,
.box11,
.box12,
.box18,
.box19,
.box20,
.box21,
.box22 {
  width: 45px;
  height: 20px;

}


.box6 {
  background-color:rgba(250, 235, 215, 0.767);
}

.box7 {
  background-color: rgb(239, 86, 116);
}

.box8 {
  background-color: rgba(224, 249, 109, 0.621);
}

.box9 {
  background-color: rgb(239, 86, 216);
}

.box10 {
  background-color: rgba(173, 243, 103, 0.662);
}

.box11 {
  background-color: rgb(244, 90, 121);
}

.box12 {
  background-color: rgb(82, 156, 230);
}

.box16{
  background-color: rgba(111, 207, 228, 0.92);
}
.box17 {
  background-color:rgb(142, 8, 237);
}
.box18{
  background-color: rgba(11, 238, 162, 0.733);
}
.box19{
  background-color: chocolate;
}
.box20{
  background-color: blanchedalmond;
}
.box21{
  background-color: rgb(226, 88, 226);
}
.box22{
  background-color:rgb(236, 198, 102);
}